<?xml version="1.0" encoding="UTF-8"?>

<launch>
<arg name="map_file" default="$(find map_my_world)/maps/map.yaml"/>

<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" output="screen" />

<node name="amcl" pkg="amcl" type="amcl" output="screen"> 
  
  <param name="base_frame_id" value="robot_footprint"/>
  <param name="global_frame_id" value="map"/>
  <param name="initial_pose_x" value="0"/>
  <param name="initial_pose_y" value="0"/>
  <param name="initial_pose_a" value="-1.57"/>
  
  <!-- Laser model -->
  <param name="laser_max_beams" value="60"/>
  <param name="laser_min_range" value="0.1"/>
  <param name="laser_max_range" value="30"/>
  <param name="laser_sigma_hit" value="0.01"/>
  
  <!-- Motion Model -->
  <param name="odom_frame_id" value="odom"/>
  <param name="odom_model_type" value="diff-corrected"/>
  <param name="odom_alpha3" value="0.1"/>
  
  <param name="min_particles" value="100"/>
  <param name="max_particles" value="500"/>
  
</node>


</launch>
